@{
    Layout = "_ClearLayout";
}
<div class="error-page d-flex align-items-center flex-wrap justify-content-center pd-20">
	<div class="pd-10">
		<div class="error-page-wrap text-center">
			<h1>500</h1>
			<h3>Error: 500 Unexpected Error</h3>
			<p>
				Упс.. Страницу, которую вы ищете недоступна<br />
				Убедитесь в правильности введеной ссылки
			</p>
			<div class="pt-20 mx-auto max-width-200">
				<a href="index.html" class="btn btn-primary btn-block btn-lg">На главную</a>
			</div>
		</div>
	</div>
</div>